            .mj-col-button {             
                margin: 10px 0 0 0;
            }
            .mj-col-tag {
                overflow:hidden;
                white-space: nowrap;
                margin:10px 0 0 10px;
                font-size: 0.85em;
                min-width: 80px;
            }
            .mj-col-limit {
                width:100px;
                max-width:100px;
            }
            .mj-half-scroll{
                max-height:50vh;
                overflow-y:scroll;
            }



            .mj-panel {
                /*width:100%;*/
            }

            .mj-rule {
                height:2px;
                background-color: lightgray;
            }

            .mj-panel:after, mj-rule:after {
                content:"";display:table;clear:both;
            }            

            .mj-margin-t {
                margin: 10px 0 0 0;
            }
            .mj-margin-tb {
                margin: 10px 0 10px 0;
            } 
            .mj-margin-tl {
                margin: 10px 0 0 10px;
            }                       
            .mj-margin-l {
                margin: 0 0 0 10px;
            }
            .mj-margin-rl {
                margin: 0 10px 0 10px;
            }                        
            .mj-margin-trbl {
                margin: 10px 10px 10px 10px;
            }  

            .mj-padding-t {
                padding: 10px 0 0 0;
            }
            .mj-padding-tb {
                padding: 10px 0 10px 0;
            }            
            .mj-padding-l {
                padding: 0 0 0 10px;
            }
            .mj-padding-rl {
                padding: 0 10px 0 10px;
            }                        
            .mj-padding-trbl {
                padding: 10px 10px 10px 10px;
            }             

            /*medium*/
            @media only screen and (min-width:601px){
                .mj-col-limit {
                    width:120px;
                    max-width:120px;
                }
            }
            /*large*/
            @media only screen and (min-width:993px){
                .mj-col-limit {
                    width:140px;
                    max-width:140px;
                }
            }
            