            .mj-col-button {
                width:50px;
                max-width:50px;
                overflow:hidden;
                margin: 10px 5px 10px 5px;
            }
            .mj-col-tag {
                width:100px;
                max-width:100px;
                min-height:40px;
                overflow:hidden;
                margin:10px;
            }
            .mj-half-scroll{
                max-height:50vh;
                overflow-y:scroll;
            }



            .mj-panel {
                /*width:100%;*/
            }

            .mj-rule {
                height:2px;
                background-color: lightgray;
            }

            .mj-panel:after, mj-rule:after {
                content:"";display:table;clear:both;
            }            

            .mj-margin-t {
                margin: 16px 0 0 0;
            }
            .mj-margin-tb {
                margin: 16px 0 16px 0;
            }            
            .mj-margin-l {
                margin: 0 0 0 16px;
            }
            .mj-margin-rl {
                margin: 0 16px 0 16px;
            }                        
            .mj-margin-trbl {
                margin: 16px 16px 16px 16px;
            }  

            .mj-padding-t {
                padding: 16px 0 0 0;
            }
            .mj-padding-tb {
                padding: 16px 0 16px 0;
            }            
            .mj-padding-l {
                padding: 0 0 0 16px;
            }
            .mj-padding-rl {
                padding: 0 16px 0 16px;
            }                        
            .mj-padding-trbl {
                padding: 16px 16px 16px 16px;
            }             

            /*medium*/
            @media only screen and (min-width:601px){
                .mj-col-button {
                    width:55px;
                    max-width:55px;
                    overflow:hidden;
                }
                .mj-col-tag {
                    width:120px;
                    max-width:120px;
                    overflow:hidden;
                }
            }
            /*large*/
            @media only screen and (min-width:993px){
                .mj-col-button {
                    width:60px;
                    max-width:60px;
                    overflow:hidden;
                }
                .mj-col-tag {
                    width:140px;
                    max-width:140px;
                    overflow:hidden;
                }
            }
            