<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>Clash Reservations</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1" />        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />


        <!-- Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

        <!-- Firebase -->
        <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>

        <!-- AngularFire -->
        <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>

        <!--Local resources-->
        <link rel="stylesheet" href="css/w3.css?v=20161231_1758" />
        <link rel="stylesheet" href="css/style.css?v=20161231_1758" />        
        <script src="javascript/lib.js?v=20161231_1758"></script>
        <script src="javascript/application.js?v=20161231_1758"></script>
    </head>
    <body>
        <div ng-app="reserveApp" ng-controller="reserveCtrl">
            <div class="w3-modal" style="display:block;" ng-if="bBlockUi">
                <div class="w3-modal-content w3-card w3-green">
                    <span>LOADING!!!</span>
                </div>
            </div>

            <div class="w3-container" ng-controller="firebaseConfigCtrl">
                <button class="w3-btn" ng-click="showConfig()">FB Config</button>
                <div class="w3-modal" style="display:block;" ng-if="bShow">
                    <div class="w3-modal-content w3-panel">
                        <button class="w3-btn" ng-click="hideConfig()">X</button>
                        <br/>
                        <input class="w3-input" placeholder="API key" ng-model="oFbConfig.apiKey"/>
                        <input class="w3-input" placeholder="Auth Domain" ng-model="oFbConfig.authDomain"/>
                        <input class="w3-input" placeholder="Database Url" ng-model="oFbConfig.databaseURL"/>
                        <input class="w3-input" placeholder="Storage Bucket" ng-model="oFbConfig.storageBucket"/>
                        <input class="w3-input" placeholder="Messaging Sender Id" ng-model="oFbConfig.messagingSenderId"/>
                        <br/>
                        <button class="w3-btn" ng-click="setFbConfig(oFbConfig)">Save</button>
                    </div>
                </div>
            </div>

            <div class="w3-container" ng-controller="reserveInitCtrl" ng-if="!oCommonData.sResvCode">
                <div class="w3-panel" ng-if="isOptionPending()">
                    <button class="w3-btn" ng-click="onCreateOption()">Create</button>
                    <button class="w3-btn" ng-click="onJoinOption()">Join</button>
                </div>

                <div class="w3-panel" ng-if="!isOptionPending()">
                    <button class="w3-btn" ng-click="onCancelOption()"><i class="fa fa-undo"></i></button>
                </div>

                <div class="w3-panel" ng-if="isOptionCreate()">
                    <input class="w3-input" placeholder="Clan Name" ng-model="oWarInfo.sClanName"/>
                    <input class="w3-input" placeholder="Enemy Clan Name" ng-model="oWarInfo.sOppositionClanName" />
                    <select class="w3-select" ng-options="item as item.sName for item in loWarSizes" ng-model="oWarInfo.oWarSize">
                        <option value="" disabled>Choose the war size ...</option>
                    </select>
                    <select class="w3-select" ng-options="item as item.sName for item in loTimerTypes" ng-model="oWarInfo.oTimerType">
                        <option value="" disabled>Choose timer type ...</option>
                    </select>                       
                    <button class="w3-btn" ng-click="onCreateRequested(oWarInfo)">Submit</button>
                </div>

                <div class="w3-panel" ng-if="isOptionJoin()">
                    <input class="w3-input" placeholder="Reserve Code" ng-model="sInputResvCode"/>
                    <button class="w3-btn" ng-click="onJoinRequested(sInputResvCode)">Submit</button>
                </div>

            </div>
            <div class="w3-container" ng-controller="reserveListCtrl" ng-if="oCommonData.sResvCode">
                <div class="w3-panel">
                    <button class="w3-btn" ng-click="onLeaveOption()"><i class="fa fa-undo"></i></button>
                    <span class="w3-tag w3-padding w3-margin-top w3-round-large">Code {{ oCommonData.sResvCode }}</span>
                    <span class="w3-tag w3-padding w3-margin-top w3-round-large">{{ (oWarInfo.sClanName ? oWarInfo.sClanName : "Your Clan" ) }} v {{ (oWarInfo.sOppositionClanName ? oWarInfo.sOppositionClanName : "Opposition") }}</span>
                    <span class="w3-tag w3-padding w3-margin-top w3-round-large">Timer {{ oWarInfo.oTimerType.sName }}</span>
                </div>
                
                <ul class="w3-ul">
                    <li ng-repeat="opponent in loOpponents">
                        <div class="w3-container"  >
                            <div class="w3-left mj-col-button">
                                <a class="w3-btn" ng-click="onOpponentSelected(opponent)"><i class="fa fa-pencil"></i></a>
                            </div>  
                            <div class="w3-left w3-tag w3-round-large mj-col-tag">
                                <div class="">
                                    <span>{{ $index }}. {{ opponent.sOpponentName }} : </span>
                                    <div stars="getBestScore(opponent)" rating-stars></div>                                        
                                </div>
                            </div>
                            <div class="w3-left">
                                <div class="w3-container">
                                    <div class="w3-left w3-tag w3-round-medium w3-dark-grey mj-col-tag" ng-repeat="resv in opponent.loResvs">
                                        <div class="">
                                            <span>{{resv.sPlayerName}}:</span>
                                            <div ng-if="isStarSet(resv.iResult)" stars="resv.iResult" rating-stars></div>
                                            <div ng-if="!isStarSet(resv.iResult) && resv.iResvTime" remaining-time="getRemainingTime(resv)" remaining-perc="getRemainingPercentage(resv)"  timer-progress ></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </li>
                </ul>
             
                <div class="w3-modal" style="display:block;" ng-if="oSelectedOpponent">
                    <div class="w3-modal-content w3-container w3-border w3-padding-16 w3-white" ng-if="oSelectedOpponent">
                        <button class="w3-btn" ng-click="onDeSelectOpponent()"><i class="fa fa-times"></i></button>
                        <span class="w3-tag w3-padding w3-round-large">Opponent: {{ oSelectedOpponent.sOpponentName }}</span>

                        
                        <div class="w3-panel" ng-if="!oSelectedResv">
                            <input placeholder="name" ng-model="sName" />
                            <button class="w3-btn" ng-click="onAddResv(sName)">Add</button>
                        </div>

                        <div class="mj-half-scroll">
                            <ul class="w3-ul" ng-if="!oSelectedResv">
                                <li ng-repeat="resv in loEditResvs">
                                    <div class="w3-container">
                                        <div class="w3-left mj-col-button">
                                            <button class="w3-btn" ng-click="onUpdateResvOption(resv)"><i class="fa fa-pencil"></i></button>
                                        </div>

                                        <div class="w3-left w3-tag w3-round-medium w3-dark-grey mj-col-tag">
                                            <span>{{resv.sPlayerName}}:</span>
                                            <div ng-if="isStarSet(resv.iResult)" stars="resv.iResult" rating-stars></div> 
                                            <div ng-if="!isStarSet(resv.iResult) && resv.iResvTime" remaining-time="getRemainingTime(resv)" remaining-perc="getRemainingPercentage(resv)" timer-progress ></div>                                        
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        
                        <div class="w3-panel w3-border" ng-if="oSelectedResv">
                            <div class="w3-panel">
                                <button class="w3-btn" ng-click="onUpdateResvCancel(oSelectedResv)"><i class="fa fa-undo"></i></button>
                                <span class="w3-tag w3-padding w3-round-large">Player: {{ oSelectedResv.sPlayerName }}</span>
                            </div>
                            <div class="w3-panel">
                                <button class="w3-btn" ng-click="onDecrementStars()" ng-class="{'w3-dark-grey' : !isStarSet(iStars)}">-</button>
                                <!--<input placeholder="stars" ng-model="iStars" readonly></input>-->
                                <span>
                                    <i class="fa" ng-class="{'fa-clock-o' : !isStarSet(iStars), 'fa-star-o' : iStars < 1, 'fa-star' : iStars > 0}"></i>
                                    <i class="fa" ng-class="{'fa-clock-o' : !isStarSet(iStars), 'fa-star-o' : iStars < 2, 'fa-star' : iStars > 1}"></i>
                                    <i class="fa" ng-class="{'fa-clock-o' : !isStarSet(iStars), 'fa-star-o' : iStars < 3, 'fa-star' : iStars > 2}"></i>
                                </span>
                                <button class="w3-btn" ng-click="onIncrementStars()" ng-class="{'w3-dark-grey' : (iStars > 2)}">+</button>
                                <button class="w3-btn" ng-click="onSaveResv(oSelectedResv)">Save</button>
                            </div>
                            <div class="w3-panel">
                                <button class="w3-btn" ng-click="onRenewResv(oSelectedResv)">Renew</button>
                                <button class="w3-btn" ng-click="onRemoveResvOption(oSelectedResv)">Remove</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
