<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>Clash Reservations</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />

        <!-- Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <!-- Firebase -->
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
        <!-- AngularFire -->
        <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>

        <script type="text/javascript">

            function generateCode() {
                var vowels = "aeiou";
                var consonents = "bcdfghjklmnpqrstvwxyz";
                var digits = "0123456789";

                var result = "";

                result = result.concat(
                    randomChar(consonents), randomChar(vowels),
                    randomChar(consonents), randomChar(vowels),
                    randomChar(consonents), randomChar(vowels),
                    randomChar(digits), randomChar(digits)
                    );

                return result;

            }

            function randomChar(fromString) {
                if (!fromString) return null;
                return fromString.charAt(Math.floor(Math.random() * fromString.length));
            }


            function getCookies() {
                var result = {};

                var c = document.cookie.split('; ');
                for (i = c.length - 1; i >= 0; i--) {
                    var C = c[i].split('=');
                    result[C[0]] = C[1];
                }

                return result;
            }

            function setCookie(cKey, cVal) {
                if (typeof (cKey) != "string" || typeof (cVal) != "string") {
                    console.log("Attempted to set cookie with non string values");
                    return;
                }

                document.cookie = cKey + "=" + cVal + "; expires=Fri, 31 Dec 9999 23:59:59 GMT";
            }

            function getArguments() {

                var result = {};
                var sStr = window.location.search;

                if (sStr.startsWith("?")) sStr = sStr.substring(1);
                var c = sStr.split('&');
                for (i = c.length - 1; i >= 0; i--) {
                    var C = c[i].split('=');
                    result[C[0]] = C[1];
                }

                return result;
            }

        </script>

        <script type="text/javascript">

            var oCookies = getCookies();
            var oArguments = getArguments();
            console.log(oArguments["resvCode"]);

            var app = angular.module("reserveApp", ["firebase"]);



            app.controller("reserveCtrl", ["$scope", "$firebaseArray",
                function ($scope, $firebaseArray) {
                    $scope.setResvCode = function (resvCode, mustExist) {
                        if (!resvCode) return false;

                        $scope.oCommonData.sResvCode = resvCode;
                        setCookie("resvCode",resvCode);
                        return true;
                    }

                    $scope.oCommonData = { sResvCode: null };

                    $scope.setResvCode(oArguments["resvCode"], true);
 
                }]);


            app.controller("reserveInitCtrl", ["$scope", "$firebaseArray",
                function ($scope, $firebaseArray) {


                    $scope.onCreate = function () {
                        //$scope.sResvCode = generateCode();
                        $scope.iPageMode = 1;
                    };

                    $scope.onJoin = function () {
                        $scope.iPageMode = 2;
                    }

                    $scope.onCancel = function () {
                        $scope.iPageMode = 0;
                    };

                }]);


            app.controller("reserveCreateCtrl", ["$scope", "$firebaseArray",
                function ($scope, $firebaseArray) {

                    $scope.onSubmit = function () {
                        //$scope.oCommonData.sResvCode = generateCode();
                        $scope.setResvCode(generateCode(), false);
                    }

                }]);


            app.controller("reserveJoinCtrl", ["$scope", "$firebaseArray",
                function ($scope, $firebaseArray) {

                    $scope.onSubmit = function () {
                        //$scope.oCommonData.sResvCode = $scope.sInputResvCode;
                        $scope.setResvCode($scope.sInputResvCode, true);
                    }

                }]);
            app.controller("reserveListCtrl", ["$scope", "$firebaseArray",
                function ($scope, $firebaseArray) {

                    $scope.opponents = [
                        { name: "p1", resvs: [{ state: "**" }, { state: "open" }] },
                        { name: "p2", resvs: [{ state: "*" }] },
                        { name: "p3", resvs: [{ state: "**" }, { state: "**" }, { state: "***" }] },
                    ];
                                               

                    $scope.onOpponentSelected = function (opponent) {
                        $scope.oSelectedOpponent = ($scope.oSelectedOpponent == opponent ? null : opponent);
                    }
                    $scope.onDeSelectOpponent = function () {
                        $scope.oSelectedOpponent = null;
                    }
                }]);


            app.controller("reserveItemCtrl", ["$scope", "$firebaseArray",
                function ($scope, $firebaseArray) {
                                               
                    $scope.onUpdate = function (resv) {
                        $scope.oUpdateResv = (resv == $scope.oUpdateResv ? null : resv);
                    };
                    $scope.onRemove = function (resv) {
                        $scope.oRemoveResv = resv;
                    };
                    $scope.onAdd = function () {
                        $scope.oSelectedOpponent.resvs.push({state: $scope.sName });
                    };

                }]);

        </script>
    </head>
    <body>
        <div ng-app="reserveApp" ng-controller="reserveCtrl">
            <div ng-controller="reserveInitCtrl" ng-show="!oCommonData.sResvCode">
                <div ng-show="!iPageMode">
                    <button ng-click="onCreate()">Create</button>
                    <button ng-click="onJoin()">Join</button>
                </div>

                <div ng-controller="reserveCreateCtrl" ng-show="iPageMode == 1">
                    Create stuff
                    <input placeholder="Clan Name" ng-model="sClanName"/>
                    <input placeholder="War Size" ng-model="iWarSize"/>
                    <input placeholder="Timer Type" ng-model="iTimerType"/>
                    <button ng-click="onSubmit()">Submit</button>
                </div>

                <div ng-controller="reserveJoinCtrl" ng-show="iPageMode == 2">
                    Join stuff
                    <input placeholder="Reserve Code" ng-model="sInputResvCode"/>
                    <button ng-click="onSubmit()">Submit</button>
                </div>

                <div ng-show="iPageMode">
                    <button ng-click="onCancel()">Cancel</button>
                </div>

            </div>
            <div ng-controller="reserveListCtrl" ng-show="oCommonData.sResvCode">
                Hello! {{ oCommonData.sResvCode }}

                <ul class="w3-ul">
                    <li ng-repeat="opponent in opponents">
                        <a class="w3-btn-floating" ng-click="onOpponentSelected(opponent)">o</a>
                        <span>{{ opponent.name }}</span>
                        <ul>
                            <li ng-repeat="resv in opponent.resvs">
                                <span>{{resv.state}}</span>
                            </li>
                        </ul>
                    </li>
                </ul>

                <div class="w3-bottom w3-container w3-border" ng-controller="reserveItemCtrl" ng-show="oSelectedOpponent">
                    <span>You selected {{ oSelectedOpponent.name }}</span>
                    
                    <input placeholder="name" ng-model="sName" />
                    <button ng-click="onAdd()">Add</button>
                    <button ng-click="onDeSelectOpponent()">DeSelect</button>
                    <ul class="w3-ul">
                        <li ng-repeat="resv in oSelectedOpponent.resvs">
                            <div class="w3-row">
                                <div class="w3-col s3">{{resv.state}}</div>
                                <div class="w3-col s6">
                                    <button ng-click="onUpdate(resv)">Update</button>
                                    <button ng-click="onRemove(resv)">Remove</button>
                                </div>
                                <div class="w3-col s6" ng-show="oUpdateResv == resv">
                                    <input placeholder="stars" ng-model="stars" />
                                    <button>Finish Update</button>
                                    <button>Renew</button>
                                    <button>Cancel</button>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </body>
</html>
