<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>Clash Reservations</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1" />        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />


        <!-- Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>

        <!-- Firebase -->
        <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>

        <!-- AngularFire -->
        <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>

        <!--Local resources-->
        <link rel="stylesheet" href="css/w3.css?v=20170401_0006" />
        <link rel="stylesheet" href="css/style.css?v=20170401_0006" />
        <script src="javascript/config.js?v=20170401_0006"></script>        
        <script src="javascript/lib.js?v=20170401_0006"></script>
        <script src="javascript/application.js?v=20170401_0006"></script>
    </head>
    <body>
        <div ng-app="reserveApp" ng-controller="reserveCtrl">
            <div class="w3-modal" style="display:block;" ng-if="bBlockUi">
                <div class="w3-modal-content w3-card w3-green">
                    <span>LOADING!!!</span>
                </div>
            </div>

            <div class="mj-panel" ng-controller="firebaseConfigCtrl">
                <button class="w3-btn w3-blue-grey" ng-click="showConfig()">FB Config</button>
                <div class="w3-modal" style="display:block;" ng-if="bShow">
                    <div class="w3-modal-content mj-panel mj-padding-l">
                        <button class="w3-btn w3-blue-grey" ng-click="hideConfig()"><i class="fa fa-times"></i></button>
                        <input class="w3-input mj-margin-t" placeholder="API key" ng-model="oFbConfig.apiKey"/>
                        <input class="w3-input" placeholder="Auth Domain" ng-model="oFbConfig.authDomain"/>
                        <input class="w3-input" placeholder="Database Url" ng-model="oFbConfig.databaseURL"/>
                        <input class="w3-input" placeholder="Storage Bucket" ng-model="oFbConfig.storageBucket"/>
                        <input class="w3-input" placeholder="Messaging Sender Id" ng-model="oFbConfig.messagingSenderId"/>
                        <button class="w3-btn w3-blue-grey mj-margin-t" ng-click="setFbConfig(oFbConfig)">Save</button>
                    </div>
                </div>
            </div>

            <pre>$location.path() = {{$location.path()}}</pre>
            <pre>$route.current.templateUrl = {{$route.current.templateUrl}}</pre>
            <pre>$route.current.params = {{$route.current.params}}</pre>
            <pre>$route.current.scope.name = {{$route.current.scope.name}}</pre>
            <pre>$routeParams = {{$routeParams}}</pre>
            <div ng-view></div>
        </div>
    </body>
</html>
