<h1>WAR</h1>
<div class="mj-panel mj-margin-t" ng-controller="reserveListCtrl">
    <div class="mj-panel mj-margin-t">
        <button class="w3-btn w3-blue-grey" ng-click="onLeaveOption()"><i class="fa fa-undo"></i></button>
    </div>
    <div class="mj-panel">
        <span class="w3-tag mj-margin-t w3-padding-4">Code {{ oCommonData.sResvCode }}</span>
        <span class="w3-tag mj-margin-t w3-padding-4">{{ (oWarInfo.sClanName ? oWarInfo.sClanName : "Your Clan" ) }} v {{ (oWarInfo.sOppositionClanName ? oWarInfo.sOppositionClanName : "Opposition") }}</span>
        <span class="w3-tag mj-margin-t w3-padding-4"><i class="fa fa-clock-o"></i> {{ oWarInfo.oTimerType.sName }}</span>
    </div>

    <div class="mj-panel" ng-repeat="opponent in loOpponents">
        <div class="mj-rule mj-margin-t"></div>
        <div class="mj-panel"  >
            <div class="w3-left mj-col-button">
                <a class="w3-btn w3-blue-grey" ng-click="onOpponentSelected(opponent)"><i class="fa fa-pencil"></i></a>
            </div>  

            <div class="w3-left w3-tag mj-col-tag mj-col-limit">
                <div class="">
                    <span>{{ $index + 1}}. {{ opponent.sOpponentName }} : </span>
                    <div stars="getBestScore(opponent)" rating-stars></div>                                        
                </div>
            </div>
            <div class="w3-left w3-tag w3-dark-grey mj-col-tag mj-col-limit" ng-repeat="resv in opponent.loResvs">
                <div class="">
                    <span>{{resv.sPlayerName}}:</span>
                    <div ng-if="isStarSet(resv.iResult)" stars="resv.iResult" rating-stars></div>
                    <div ng-if="!isStarSet(resv.iResult) && resv.iResvTime" remaining-time="getRemainingTime(resv)" remaining-perc="getRemainingPercentage(resv)"  timer-progress ></div>
                </div>
            </div>

        </div>  
    </div>
    
    <div class="w3-modal" style="display:block;" ng-if="oSelectedOpponent">
        <div class="w3-modal-content mj-panel mj-padding-l w3-border w3-white" ng-if="oSelectedOpponent">
            <button class="w3-btn w3-blue-grey" ng-click="onDeSelectOpponent()"><i class="fa fa-times"></i></button>
            <div class="mj-panel">
                <span class="w3-tag w3-padding-4">Opponent: {{ oSelectedOpponent.sOpponentName }}</span>
            </div>

            <div class="mj-panel mj-margin-t" ng-if="!oSelectedResv">
                <input placeholder="Attacker Name" ng-model="sName" />
                <button class="w3-btn w3-blue-grey" ng-click="onAddResv(sName)">Add Attacker</button>
            </div>

            <div class="mj-half-scroll mj-panel mj-margin-t">
                <div class="mj-panel" ng-if="!oSelectedResv">
                    <div class="mj-panel" ng-repeat="resv in loEditResvs">
                        <div class="mj-rule mj-margin-t"></div>
                        <div class="mj-panel">
                            <div class="w3-left mj-col-button">
                                <button class="w3-btn w3-blue-grey" ng-click="onUpdateResvOption(resv)"><i class="fa fa-pencil"></i></button>
                            </div>
                            
                            <div class="w3-left w3-tag w3-dark-grey mj-col-tag">
                                <span>{{resv.sPlayerName}}:</span>
                                <div class="mj-col-limit" ng-if="isStarSet(resv.iResult)" stars="resv.iResult" rating-stars></div> 
                                <div class="mj-col-limit" ng-if="!isStarSet(resv.iResult) && resv.iResvTime" remaining-time="getRemainingTime(resv)" remaining-perc="getRemainingPercentage(resv)" timer-progress ></div>                                        
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            
            <div class="mj-panel mj-margin-t" ng-if="oSelectedResv">

                <button class="w3-btn w3-blue-grey" ng-click="onUpdateResvCancel(oSelectedResv)"><i class="fa fa-undo"></i></button>
                <div class="mj-panel">
                    <span class="w3-tag w3-padding-4">Attacker: {{ oSelectedResv.sPlayerName }}</span>
                </div>
                <div class="mj-rule mj-margin-t"></div>
                <div class="mj-panel mj-margin-t">
                    <button class="w3-btn w3-blue-grey" ng-click="onDecrementStars()" ng-class="{'w3-dark-grey' : !isStarSet(iStars)}">-</button>
                    <!--<input placeholder="stars" ng-model="iStars" readonly></input>-->
                    <span>
                        <i class="fa" ng-class="{'fa-clock-o' : !isStarSet(iStars), 'fa-star-o' : iStars < 1, 'fa-star' : iStars > 0}"></i>
                        <i class="fa" ng-class="{'fa-clock-o' : !isStarSet(iStars), 'fa-star-o' : iStars < 2, 'fa-star' : iStars > 1}"></i>
                        <i class="fa" ng-class="{'fa-clock-o' : !isStarSet(iStars), 'fa-star-o' : iStars < 3, 'fa-star' : iStars > 2}"></i>
                    </span>
                    <button class="w3-btn w3-blue-grey" ng-click="onIncrementStars()" ng-class="{'w3-dark-grey' : (iStars > 2)}">+</button>
                    <button class="w3-btn w3-blue-grey" ng-click="onSaveResv(oSelectedResv)">Update Stars</button>
                </div>
                <div class="mj-rule mj-margin-t"></div>
                <div class="mj-panel mj-margin-t">
                    <button class="w3-btn w3-blue-grey" ng-click="onRenewResv(oSelectedResv)">Renew Timer</button>
                    <button class="w3-btn w3-red" ng-click="onRemoveResvOption(oSelectedResv)">Remove</button>                                  
                </div>
            </div>

            <div class="mj-rule mj-margin-t"></div>

        </div>
    </div>
</div>